* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.foto {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(contact.jpg);
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.logo1 {
    width: 320px;
}


.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background-color: #d1d1e0;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.text {
    display: flex;
    justify-content: center;
    color: #fff;
}

.container {
    color: #fff;
    display: flex;
    gap: 20px;
    padding: 50px 20px;
    margin: 0 auto;
}

.content {
    font-size: 25px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    color: #fff;
}


.EQ {
    color: white;
    flex-grow: 1;
    flex-basis: 100%;
}

.AMG {
    color: white;
    flex-grow: 1;
    flex-basis: 100%;
}

.MAY {
    color: white;
    flex-grow: 1;
    flex-basis: 100%;
}

.Nieuw {
    color: white;
    flex-grow: 1;
    flex-basis: 100%;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    bottom: 0;
}


.aankoop {
    flex-grow: 1;
    flex-basis: 100%;
}

.aankoop ul {
    list-style-type: none;
    line-height: 1.6;
}

.aankoop a {
    color: white;
    text-decoration: none;
}

.aankoop a:hover {
    color: #d1d1e0;
    text-decoration: underline;
}

.aankoopadvies {
    flex-grow: 1;
    flex-basis: 100%;
}

.aankoopadvies ul {
    list-style-type: none;
    line-height: 1.6;
}

.aankoopadvies a {
    color: white;
    text-decoration: none;
}

.aankoopadvies a:hover {
    color: #d1d1e0;
    text-decoration: underline;
}

.diensten {
    flex-grow: 1;
    flex-basis: 100%;
}

.diensten ul {
    list-style-type: none;
    line-height: 1.6;
}

.diensten a {
    color: white;
    text-decoration: none;
}

.diensten a:hover {
    color: #d1d1e0;
    text-decoration: underline;
}

.technologie {
    flex-grow: 1;
    flex-basis: 100%;
}

.technologie ul {
    list-style-type: none;
    line-height: 1.6;
}

.technologie a {
    color: white;
    text-decoration: none;
}

.technologie a:hover {
    color: #d1d1e0;
    text-decoration: underline;
}

.modellen {
    flex-grow: 1;
    flex-basis: 100%;
}

.modellen ul {
    list-style-type: none;
    line-height: 1.6;
}

.modellen a {
    color: white;
    text-decoration: none;
}

.modellen a:hover {
    color: #d1d1e0;
    text-decoration: underline;
}

.overmercedesbenz {
    flex-grow: 1;
    flex-basis: 100%;
}

.overmercedesbenz ul {
    list-style-type: none;
    line-height: 1.6;
}

.overmercedesbenz a {
    color: white;
    text-decoration: none;
}

.overmercedesbenz a:hover {
    color: #d1d1e0;
    text-decoration: underline;
}

.container h3 {
    margin-bottom: 20px;
    font-size: 20px;
}

.copyright {
    padding: 30px 0;
    text-align: center;
    border-top: 1px solid gray;
}

.Github {
    color: white;
}

.contact {
    min-height: 100vh;
    background: #08071d;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("contact.jpg") no-repeat center center/cover;
}


.contact form {
    width: 670px;
    height: 400px;
    display: flex;
    justify-content: center;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    flex-wrap: wrap;
}

.contact form h1 {
    color: rgb(0, 0, 0);
    font-weight: 500;
    margin-top: 20px;
    width: 500px;
    text-align: center;
}

.contact form input {
    width: 290px;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.contact form input::placeholder {
    color: rgb(0, 0, 0);
}

.contact form #lastName,
.contact form #mobile {
    margin-left: 20px;
}

.contact form h3 {
    color: rgb(0, 0, 0);
    font-weight: 300;
    width: 600px;
    margin-top: 20px;
}

.contact form textarea {
    background: none;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    font-weight: 200;
    font-size: 15px;
    padding: 10px;
    outline: none;
    min-width: 600px;
    max-width: 600px;
    min-height: 80px;
    max-height: 80px;
}

textarea::-webkit-scrollbar {
    width: 1em;
}

textarea::-webkit-scrollbar-thumb {
    background-color: rgba(194, 194, 194, 0.713);
}

.contact form #button {
    border: none;
    background: #fff;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    color: #333;
    width: 100px;
    padding: 0;
    margin-right: 500px;
    margin-bottom: 30px;
    transition: 0.3s;
}

.contact form #button:hover{
    opacity: 0.7;
}